[workspace]
members = ["crates/cgt-core", "crates/cgt-formatter-plain", "crates/cgt-cli"]
resolver = "2"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
todo = "deny"
unimplemented = "deny"
